/*
Par vsom
*/

body
{
    background-color: rgb(247,106,243);
    background-image: url("lotus_1.jpg");
}

p, ul
{
	color: green;
	font-size: 1.1em;
	font-family: "Times New Roman", Verdana, Arial, serif;
	text-align: center;
}

em
{
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}

h1, h2
{
	color: brown;
	font-size: 1.8em;
	font-family: "Times New Roman", Verdana, Arial, serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.salutations
{
	color: red;
}

#cordialement
{
	color: blue;
}

.signature
{
	text-align: right;
}

.imageflot
{
	float: right;
}

.dessous
{
	clear: both;
	text-align: right;
}